@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@200&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
    font-family: 'Fraunces', serif;
    padding: 12em 0 10em 0;
    background-image: url('../../img/banner.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    
}

    .banner h1 {
        font-size: 3.5em;
        font-weight: 100;
        line-height: 1em;
        margin: 0 0 0.5em 0;
        padding: 0;
    }

    .banner p {
        font-size: 1em;
        margin-bottom: 1.75em;
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

        .banner {
            background-attachment: scroll;
        }

    }

    @media screen and (max-width: 1280px) {

        .banner {
            padding: 10em 2em 8em 2em;
        }

    }

    @media screen and (max-width: 980px) {

        .banner {
            background-attachment: scroll;
        }

    }

    @media screen and (max-width: 736px) {

        .banner {
            padding: 8em 1.5em 6em 1.5em;
        }

            .banner h1 {
                font-size: 2.5em;
            }

            .banner p {
                font-size: .9em;
            }

    }

    @media screen and (max-width: 480px) {
        
        .banner {
            padding: 6em 1.5em 4em 1.5em;
        }

    }

.secondary-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

.secondary-title::before {
    content: "";
    margin-bottom: 0.25rem;
    display: block;
    height: 0.5rem;
    width: 3rem;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(24, 136, 89);
}

.level {
    width: 95%;
    margin: 0.5em auto;
}

.bar {
    background-color: #7e89a1;
    display: block;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    height: 3px;
    border-radius: 4.5px;
    overflow: hidden;
}
.bar span {
    height: 4.5px;
    float: left;
    background-color: red;
}
.ht {
    width: 90%;
}

.tm {
    width: 85%;
}

.lk {
    width: 80%;
}

.selected{
    font-size: 1em;
}

.selected::after {
    content: "";
    margin-bottom: 0.25rem;
    display: block;
    height: 0.5rem;
    width: 3rem;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(216, 40, 34);
}